<polymer-element name="GMPlacesAutocomplete" attributes="">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Gm places autocomplete</h2>
  </template>

  <script type="text/javascript">
    Polymer('GMPlacesAutocomplete', {
      
      
    });
  </script>
</polymer-element>
