/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: helvetica;
  fill: #444;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

core-header-panel {
  /*background: white;*/
  /* height: 100% fails here on some browsers */
  /*height: 100vh;
  width: 100vw;*/
  
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}

google-map {
  /*display: block;*/
  /*height: 100vh;*/
}

core-toolbar {
  background-color: #03A9F4;
  color: white;
}

core-drawer-panel {
  background-color: #ccc;
}

#drawerheader {
  background-color: #03A8FF;
}

/*#addressFld {
  font-size: 14px;
}*/

paper-input {
  max-width: 20em;
  width: auto;
  font-size: 0.8em;
}